@import "variables";
@import "mixins";

.header{
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;

  &__input{
    margin: 0;
    padding: 2px 7px;
    min-width: 1px;
    color: #000;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 20px;
    font-size: 18px;
    line-height: 22px;
    outline: none;
    &:hover{
      border: 1px solid $border-color;
    }
    &:focus{
      border: 2px solid #1a73e8
    }
  }
  &__buttons{
    display: flex;
  }

  &__button {
    @include button(green)
  }
}


